spring:
  application:
    name: "customer-service"

server:
  port: 8083

eureka:
  client:
    service-url:
      defaultZone: "http://localhost:8888/eureka/"
    register-with-eureka: true
    fetch-registry: true